<a href="https://colab.research.google.com/github/Rajvardhan-singh-26/Aiml1/blob/main/ds3.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

my_data_set = {"cars":['BMW','Volvo','Audi','Jaguar'],'passing':[1,2,3,4] }
my_data_set

{'cars': ['BMW', 'Volvo', 'Audi', 'Jaguar'], 'passing': [1, 2, 3, 4]}

In [ ]:
#NOW USING ABOVE DICTONARY , LET US CREATE A DATA FRAME
import pandas as pd
df = pd.DataFrame(my_data_set)
df

     cars  passing
0     BMW        1
1   Volvo        2
2    Audi        3
3  Jaguar        4

In [ ]:
type(df)

pandas.core.frame.DataFrame

In [ ]:
a = [1,2,3,4,5,6,7]
my_var = pd.Series(a)
print(my_var)
# 1,2,3,4,5,6,7 are the series and 0,1,2,3,4,5,6 are the index.

0    1
1    2
2    3
3    4
4    5
5    6
6    7
dtype: int64

In [ ]:
sports1 = pd.Series([1,2,3,4], index = ['cricket' ,'Football','hockey','Golf'])
sports1

cricket     1
Football    2
hockey      3
Golf        4
dtype: int64

In [ ]:
sports2 = pd.Series([1,2,3,4], index = ['cricket' ,'Base ball','Basket ','Golf'])
sports2

cricket      1
Base ball    2
Basket       3
Golf         4
dtype: int64

In [ ]:
s = sports1 + sports2
s

Base ball    NaN
Basket       NaN
Football     NaN
Golf         8.0
cricket      2.0
hockey       NaN
dtype: float64

In [ ]:
#NaN = not a number(Null Number)
import random

def guess_number():
    number = random.randint(1, 100)
    attempts = 0

    print("Welcome to Guess the Number!")
    print("I'm thinking of a number between 1 and 100.")
    print("Can you guess it?")

    while True:
        guess = int(input("Enter your guess: "))
        attempts += 1

        if guess < number:
            print("Too low!")
        elif guess > number:
            print("Too high!")
        else:
            print(f"Congratulations! You guessed the number in {attempts} attempts!")
            break

        if attempts == 5:
            print("Oops! You have reached the maximum number of attempts.")
            print(f"The number I was thinking of was {number}.")
            break

guess_number()

Welcome to Guess the Number!
I'm thinking of a number between 1 and 100.
Can you guess it?
Enter your guess: 98
Too high!
Enter your guess: 2
Too low!
Enter your guess: 10
Too low!
Enter your guess: 45
Too low!
Enter your guess: 60
Too high!
Oops! You have reached the maximum number of attempts.
The number I was thinking of was 54.

In [ ]:
import pandas as pd
import numpy as np
df = pd.DataFrame({'cricket':[1,2,np.nan,4,6,7,2,np.nan],
                   'Baseball':[5,np.nan,np.nan,5,7, 2,4,5],
                   'Tennis':[1,2,3,4,5,6,7,8]})
df

   cricket  Baseball  Tennis
0      1.0       5.0       1
1      2.0       NaN       2
2      NaN       NaN       3
3      4.0       5.0       4
4      6.0       7.0       5
5      7.0       2.0       6
6      2.0       4.0       7
7      NaN       5.0       8

In [ ]:
#DATASET :https://storage.googleapis.com/kagglesdsdata/datasets/9590/13660/fruit_data_with_colors.txt?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20230614%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20230614T170107Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=51b5ecde0596a12135153c0d0c59d9cecda1e7335f9f913d3debd50cb1938472d06b45fc21367a9bb06547934bd5b3913f217456de603246f0fe3cf10a0c9dc321ec1bce214326eda1045b3aaac0b7ad819892fe2c472d2efa079df2bdf1113cd224940eb585ddd6fcfa6a4a55e9a9bdea17c7bc214f5b4f0fe644680fe06ef566fde73697e9a15a524aaa774d73fb7b147847eb0aa062b9e75e3882675f40ee35358c0fa2ea92953d273c91e7bef82355e9313b010e7c1b45d3739c8a1996e620095761b9eea5ac1619db1c6f61dbec90f7df2beeafde3c01a0cd517d14947c1003cf6a074928be2ef60a293a1519fa366fadeb2c3e60c302d7c58ec129de90

In [ ]:
#import pandas as pd
#df = pd.read_csv('https://storage.googleapis.com/kagglesdsdata/datasets/9590/13660/fruit_data_with_colors.txt?X-Goog-Algorithm=GOOG4-RSA-SHA256&X-Goog-Credential=gcp-kaggle-com%40kaggle-161607.iam.gserviceaccount.com%2F20230614%2Fauto%2Fstorage%2Fgoog4_request&X-Goog-Date=20230614T170107Z&X-Goog-Expires=259200&X-Goog-SignedHeaders=host&X-Goog-Signature=51b5ecde0596a12135153c0d0c59d9cecda1e7335f9f913d3debd50cb1938472d06b45fc21367a9bb06547934bd5b3913f217456de603246f0fe3cf10a0c9dc321ec1bce214326eda1045b3aaac0b7ad819892fe2c472d2efa079df2bdf1113cd224940eb585ddd6fcfa6a4a55e9a9bdea17c7bc214f5b4f0fe644680fe06ef566fde73697e9a15a524aaa774d73fb7b147847eb0aa062b9e75e3882675f40ee35358c0fa2ea92953d273c91e7bef82355e9313b010e7c1b45d3739c8a1996e620095761b9eea5ac1619db1c6f61dbec90f7df2beeafde3c01a0cd517d14947c1003cf6a074928be2ef60a293a1519fa366fadeb2c3e60c302d7c58ec129de90', sep = '\t')
#df

In [ ]:
import pandas as pd
df1 = pd.read_csv('/content/fruit_data_with_colors.txt',sep = '\t')
df1

    fruit_label fruit_name     fruit_subtype  mass  width  height  color_score
0             1      apple      granny_smith   192    8.4     7.3         0.55
1             1      apple      granny_smith   180    8.0     6.8         0.59
2             1      apple      granny_smith   176    7.4     7.2         0.60
3             2   mandarin          mandarin    86    6.2     4.7         0.80
4             2   mandarin          mandarin    84    6.0     4.6         0.79
5             2   mandarin          mandarin    80    5.8     4.3         0.77
6             2   mandarin          mandarin    80    5.9     4.3         0.81
7             2   mandarin          mandarin    76    5.8     4.0         0.81
8             1      apple          braeburn   178    7.1     7.8         0.92
9             1      apple          braeburn   172    7.4     7.0         0.89
10            1      apple          braeburn   166    6.9     7.3         0.93
11            1      apple          braeburn   172    7.1     7.6         0.92
12            1      apple          braeburn   154    7.0     7.1         0.88
13            1      apple  golden_delicious   164    7.3     7.7         0.70
14            1      apple  golden_delicious   152    7.6     7.3         0.69
15            1      apple  golden_delicious   156    7.7     7.1         0.69
16            1      apple  golden_delicious   156    7.6     7.5         0.67
17            1      apple  golden_delicious   168    7.5     7.6         0.73
18            1      apple       cripps_pink   162    7.5     7.1         0.83
19            1      apple       cripps_pink   162    7.4     7.2         0.85
20            1      apple       cripps_pink   160    7.5     7.5         0.86
21            1      apple       cripps_pink   156    7.4     7.4         0.84
22            1      apple       cripps_pink   140    7.3     7.1         0.87
23            1      apple       cripps_pink   170    7.6     7.9         0.88
24            3     orange     spanish_jumbo   342    9.0     9.4         0.75
25            3     orange     spanish_jumbo   356    9.2     9.2         0.75
26            3     orange     spanish_jumbo   362    9.6     9.2         0.74
27            3     orange  selected_seconds   204    7.5     9.2         0.77
28            3     orange  selected_seconds   140    6.7     7.1         0.72
29            3     orange  selected_seconds   160    7.0     7.4         0.81
30            3     orange  selected_seconds   158    7.1     7.5         0.79
31            3     orange  selected_seconds   210    7.8     8.0         0.82
32            3     orange  selected_seconds   164    7.2     7.0         0.80
33            3     orange      turkey_navel   190    7.5     8.1         0.74
34            3     orange      turkey_navel   142    7.6     7.8         0.75
35            3     orange      turkey_navel   150    7.1     7.9         0.75
36            3     orange      turkey_navel   160    7.1     7.6         0.76
37            3     orange      turkey_navel   154    7.3     7.3         0.79
38            3     orange      turkey_navel   158    7.2     7.8         0.77
39            3     orange      turkey_navel   144    6.8     7.4         0.75
40            3     orange      turkey_navel   154    7.1     7.5         0.78
41            3     orange      turkey_navel   180    7.6     8.2         0.79
42            3     orange      turkey_navel   154    7.2     7.2         0.82
43            4      lemon    spanish_belsan   194    7.2    10.3         0.70
44            4      lemon    spanish_belsan   200    7.3    10.5         0.72
45            4      lemon    spanish_belsan   186    7.2     9.2         0.72
46            4      lemon    spanish_belsan   216    7.3    10.2         0.71
47            4      lemon    spanish_belsan   196    7.3     9.7         0.72
48            4      lemon    spanish_belsan   174    7.3    10.1         0.72
49            4      lemon           unknown   132    5.8     8.7         0.73
50            4      lemon           unknown   130    6.0     8.2         0.71
51            4      lemon           unknown   116    6.0     7.5         0.72
52            4      lemon           unknown   118    5.9     8.0         0.72
53            4      lemon           unknown   120    6.0     8.4         0.74
54            4      lemon           unknown   116    6.1     8.5         0.71
55            4      lemon           unknown   116    6.3     7.7         0.72
56            4      lemon           unknown   116    5.9     8.1         0.73
57            4      lemon           unknown   152    6.5     8.5         0.72
58            4      lemon           unknown   118    6.1     8.1         0.70

In [ ]:
df.shape

(8, 3)

In [ ]:
df.size

24

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8 entries, 0 to 7
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   cricket   6 non-null      float64
 1   Baseball  6 non-null      float64
 2   Tennis    8 non-null      int64
dtypes: float64(2), int64(1)
memory usage: 320.0 bytes

In [ ]:
df1.iloc[25:44,0:2]

    fruit_label fruit_name
25            3     orange
26            3     orange
27            3     orange
28            3     orange
29            3     orange
30            3     orange
31            3     orange
32            3     orange
33            3     orange
34            3     orange
35            3     orange
36            3     orange
37            3     orange
38            3     orange
39            3     orange
40            3     orange
41            3     orange
42            3     orange
43            4      lemon

In [ ]:
df.fruit_name.nunique()

AttributeError: ignored

In [ ]:
df['fruit_name'].nunique()

KeyError: ignored

In [ ]:
fname = df['fruit_name'].unique()
fname

In [ ]:
fsize = df.groupby('fruit_name',sort = False).size()
fsize

In [ ]:
import matplotlib.pyplot as plt
plt.bar(fname,fsize,color = ['red','gold','orange','lime'])

In [ ]:
import face_recognition
import cv2

# Load an image of the person you want to recognize
known_image = face_recognition.load_image_file("path/to/known_person.jpg")
known_encoding = face_recognition.face_encodings(known_image)[0]

# Initialize some variables
face_locations = []
face_encodings = []
face_names = []
process_this_frame = True

# Open the webcam
video_capture = cv2.VideoCapture(0)

while True:
    # Capture each frame from the webcam
    ret, frame = video_capture.read()

    # Resize frame to speed up face recognition
    small_frame = cv2.resize(frame, (0, 0), fx=0.25, fy=0.25)

    # Only process every other frame to save time
    if process_this_frame:
        # Find all face locations and face encodings in the current frame
        face_locations = face_recognition.face_locations(small_frame)
        face_encodings = face_recognition.face_encodings(small_frame, face_locations)

        face_names = []
        for face_encoding in face_encodings:
            # Check if the face matches the known face
            match = face_recognition.compare_faces([known_encoding], face_encoding)
            name = "Unknown"

            if match[0]:
                name = "Known Person"

            face_names.append(name)

    process_this_frame = not process_this_frame

    # Display the results
    for (top, right, bottom, left), name in zip(face_locations, face_names):
        top *= 4
        right *= 4
        bottom *= 4
        left *= 4

        # Draw a rectangle around the face
        cv2.rectangle(frame, (left, top), (right, bottom), (0, 0, 255), 2)

        # Display the name
        font = cv2.FONT_HERSHEY_DUPLEX
        cv2.putText(frame, name, (left + 6, bottom - 6), font, 0.5, (255, 255, 255), 1)

    # Display the resulting frame
    cv2.imshow('Video', frame)

    # Break the loop when 'q' is pressed
    if cv2.waitKey(1) & 0xFF == ord('q'):
        break

# Release the webcam and close the window
video_capture.release()
cv2.destroyAllWindows()

RuntimeError: ignored

In [ ]:
# prompt: face recognition

import face_recognition
import cv2

# Load an image of the person you want to recognize
known_image = face_recognition.load_image_file("path/to/known_person.jpg")
known_encoding = face_recognition.face_encodings(known_image)[0]

# Initialize some variables
face_locations = []
face_encodings = []
face_names = []
process_this_frame = True

# Open the webcam
video_capture = cv2.VideoCapture(0)

while True:
    # Capture each frame from the webcam
    ret, frame = video_capture.read()

    # Resize frame to speed up face recognition
    small_frame = cv2.resize(frame, (0, 0), fx=0.25, fy=0.25)

    # Only process every other frame to save time
    if process_this_frame:
        # Find all face locations and face encodings in the current frame
        face_locations = face_recognition.face_locations(small_frame)
        face_encodings = face_recognition.face_encodings(small_frame, face_locations)

        face_names = []
        for face_encoding in face_encodings:
            # Check if the face matches the known face
            match = face_recognition.compare_faces([known_encoding], face_encoding)
            name = "Unknown"

            if match[0]:
                name = "Known Person"

            face_names.append(name)

    process_this_frame = not process_this_frame

    # Display the results
    for (top, right, bottom, left), name in zip(face_locations, face_names):
        top *= 4
        right *= 4
        bottom *= 4
        left *= 4

        # Draw a rectangle around the face
        cv2.rectangle(frame, (left, top), (right, bottom), (0, 0, 255), 2)

        # Display the name
        font = cv2.FONT_HERSHEY_DUPLEX
        cv2.putText(frame, name, (left + 6, bottom - 6), font, 0.5, (255, 255, 255), 1)

    # Display the resulting frame
    cv2.imshow('Video', frame)

    # Break the loop when 'q' is pressed
    if cv2.waitKey(1) & 0xFF == ord('q'):
        break

# Release the webcam and close the window
video_capture.release()
cv2.destroyAllWindows()

RuntimeError: ignored